.Vue-Toastification__toast {
    min-height: 0 !important;
    padding: 10px !important;
    background-color: #7F7EFF !important;
    border-bottom: 1px solid #7473E8 !important;
    border-radius: 2px !important;
    font-family: "Nunito" !important;
    font-size: 16px !important;
    cursor: pointer !important;
}
.Vue-Toastification__progress-bar {
    height: 3px !important;
    background: #646464 !important;
    opacity: .5 !important;
}