@primary: #EDA7B2;
@primary-hover: #5F5476;
@font-color: #EDE3EB;

@media (max-width: 1199px) {
  .desktop-only { display: none }
}

@media (min-width: 1200px) {
  .mobile-only { display: none }
}

body {background: #121212}

span.highlight {
  padding: 0 2px 2px 2px;
  color: #000;
  font-weight: bold;
  border-radius: 4px;
  background: #ABF200;
}

.content {
  img, video {
    max-width: 100% !important;
    height: auto !important;
    cursor: pointer;
  }
  iframe {
    border: 0 !important;
    border-radius: 4px !important;
  }
}

.vbt-autcomplete-list {
  width: 300px !important;
  margin-top: 3px;
  padding-top: 0 !important;
  word-break: break-all;
}

.alert.alert-dismissible.alert-dark > .close {
  outline: none;
  &:hover {color: transparent}
}

@keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

@-moz-keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

@-webkit-keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

@-o-keyframes fadein {
  from {opacity: 0}
  to {opacity: 1}
}

@media (max-width: 1159px) {
  .desktop-only, aside, article.sidebar { display: none }

  header {
    // background-color: #EDA7B2 !important;
    nav > ul {
      > li:not(.sidebar) {
        display: none;
        &.logo {
          display: inline-block;
          position: absolute;
          left: calc(50vw - 66px);
        }
      }
      &.right > li { display: inline-block }
    }
  }
}

@media (min-width: 1160px) {
  .mobile-only { display: none }
}

.content {
  img, video {
    max-width: 100% !important;
    height: auto !important;
    cursor: pointer;
  }
  iframe {
    border: 0 !important;
    border-radius: 4px !important;
  }
}

.b-sidebar {
  width: 200px !important;
  > .b-sidebar-header { margin: 0 !important }
}

.pagination > nav {
  height: 24px;
  margin-bottom: 1rem;
}

.modal-header, .modal-footer {
  margin: 0 !important;
  background-color: #fff !important;
}

.toast-header {
  margin: 0 !important;
  background-color: rgba(255, 255, 255, 0.85) !important;
}

@media (min-width: 350px) and (max-width: 1000px) {
  .embed-youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .embed-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 1001px) and (max-width: 1350px) {
  .embed-youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .embed-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 85%;
    height: 85%;
  }
}

@media (min-width: 1351px) {
  .embed-youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
  }
  .embed-youtube iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 80%;
  }
}

// editor
@media (max-width: 730px) {
  .ProseMirror {
    height: 296px;
    padding: .5rem;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    outline: none;
    img {
      max-width: calc(100% - 30px);
      height: auto;
    }
  }
}

@media (min-width: 731px) {
  .ProseMirror {
    height: 418px;
    padding: .5rem;
    word-break: break-all;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: scroll;
    outline: none;
    img {
      //max-width: calc(100% - 100px);
      max-width: 60%;
      height: auto;
    }
  }
}

.vue-poll {
  margin: .25rem 0 1rem;
  .ans-cnt {
    .ans-no-vote { border: 2px solid #77c7f7 }
    .ans-no-vote .txt { color: #77c7f7 }
    .ans .bg.selected { background-color: #77c7f7 }
  }
}

// dropzone
.vue-dropzone {
  width: 100% !important;
  max-height: 240px;
  margin-top: .5rem;
  border: 1px solid @primary !important;
  overflow-y: scroll;
  > .dz-preview {
    width: 120px;
    height: 120px;
    margin: 0 5px 5px 0 !important;
    border: 1px solid rgba(33, 150, 243, .8);
    & .dz-image {
      width: 120px;
      height: 120px;
      > div {
        width: inherit;
        height: inherit;
        background-size: contain;
      }
      > img {
        width: inherit;
        height: inherit;
      }
    }
    // & .dz-details {}
    & .dz-remove { padding: 4px 10px 2px !important }
  }
}

article.comment-view {
  .more {
    position: relative;
    width: 2rem;
    background: #121212;

    > div {
      position: absolute;
      width: 100%;
      height: 100%;

      &.dropdown {
        z-index: 1;

        .btn-secondary {
          opacity: 0;

          &:focus, &.focus {
            box-shadow: none !important
          }
        }
      }

      > svg {
        position: absolute;
        top: calc(50% - 8px);
        margin-left: 8px;
        color: @primary;
      }
    }
  }
}

.grecaptcha-badge { display: none !important }

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .6);
  z-index: 1000;
}

.dialog-wrapper {
  position: fixed;
  > .dialog {
    font-size: 13px;
    border: 1px solid #000;
    background: #fff;
    box-shadow: 1px 0 10px rgba(0, 0, 0, .1);
    animation: fadein 1s;
    -moz-animation: fadein 1s;
    -webkit-animation: fadein 1s;
    -o-animation: fadein 1s;
    > .header {
      height: 24px;
      line-height: 22px;
      padding: 0 .5rem;
      color: #fff;
      background: @primary;
      > .close {
        padding-top: 3px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
      }
    }
    > .content {
      color: #333;
      word-break: break-all;
    }
    > .footer {
      display: flex;
      flex: 1;
      justify-content: flex-end;
      padding: .5rem .5rem .5rem;
      border-top: 1px solid #000;
      > button {margin-left: 5px}
    }
  }
}

.custom-scroll-box,
.ProseMirror,
.vue-dropzone {
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
    border-radius: 500rem;
    background-color: #333;
    background-clip: padding-box;
    &:hover {background-color: #555}
  }
  &::-webkit-scrollbar-track {
    background-color: @primary;
    box-shadow: inset 0 0 5px #fff;
  }
  &::-webkit-scrollbar-corner {
    background-color: @primary;
    box-shadow: inset 0 0 10px #fff;
  }
}

// transition
// .page-enter-active, .page-leave-active {
//     transition-duration: .35s;
// }
// .page-enter {
//     transform: translateX(5rem);
// }
